body {
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-colorido-nuvens-com-design-magico-de-estrelas_1017-25506.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

header {

    padding: 30px;
    position: fixed;

}

img {
    width: 15%;

}

h1 {
    text-align: center;
    color: darkslategray;
}

div {
    padding: 5px;

}

input {
    border-radius: 10px;
    border-color: grey;

}