.h1{
    color: aquamarine;
}

.box{

    background-image:url(https://s1.1zoom.me/big0/550/Black_background_Moon_565822_1280x720.jpg);
    width: 1280px;
    height: 720px;
    padding: auto;
    margin: auto;
    
    border-style: ;
    
}

