body {

    background-color: peachpuff;

}


p {

    color:indianred;
    font-size: 24px;

}

.texto-principal {

    color:purple
}

.texto-secundario {

    color: lightseagreen;
    
}

#tituloPrincipal {

    color: lightslategray;

}

